extends layout

block content
  .row
    .panel-body
      .col-md-6.col-md-offset-3
        form(method='POST' action=`/movies/${movie.Id}/edit`)
          .row
            .col-md-12.lead
              | #{movie.Title} Settings
              hr
          .row
            .col-md-12
              .form-group
                label Title
                input.form-control(type='text' placeholder=`${movie.Title}` name='title')
              .form-group
                label Age Restriction
                input.form-control(type='number' placeholder=`${movie.AgeRestriction}` name='ageRes')
              .form-group
                label First Projection
                input.form-control(type='text' placeholder=`${movie.Premiere}` name='premiere')
              .form-group
                label Length
                input.form-control(type='number' placeholder=`${movie.Length}` name='length')
          .row
            .col-md-12
              hr
              button.btn.btn-primary.pull-right(type='submit')
                i.glyphicon.glyphicon-floppy-disk
                |  Save