extends layout

block content
	p Movie info
	p #{movie[0].Title}
	p Length #{movie[0].Length}
	p Age Restriction #{movie[0].AgeRestriction}
	ul
		each projection in movie
			li(onclick="buyTicket(" + projection.Id + ")") #{projection.Title} #{projection.HallId} #{projection.Seats} #{projection.StartTime}
			li 

	script(type='text/javascript').
		function buyTicket(id) {
			$(location).attr('href', '/projection/' + id + '/buyTicket');
		};