extends layout

block content
  h1= CinemaDB
  p Profile
  button#logout(onClick='logout()') Logout
  button#settings(onClick='settings()') Profile Settings
  if user && user.Role == 'admin'
    button(onClick='addMovie()') Add movie
  p #{user.Username}
  p #{user.FirstName}
  p #{user.LastName}
  p #{user.Age}
  
  script(type='text/javascript').
     function renderLogin(){
       $(location).attr('href','/login');
     };

     function renderSignup(){
       $(location).attr('href','/signup');
     };

     function logout(){
        $(location).attr('href', '/logout');
     };

     function settings(){
        $(location).attr('href', '/profileSettings');
     };

     function addMovie() {
        $(location).attr('href', '/addMovie');
     };

